<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	This file is part of WhichGenes.

    WhichGenes is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    WhichGenes is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public License
    along with Lesser.  If not, see <http://www.gnu.org/licenses/
 -->

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>WhichGenes</display-name>
	
	<env-entry>
		<env-entry-name>goprovider.obopath</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>/var/lib/tomcat7/webapps/whichgenesfiles/go/gene_ontology.1_0.obo</env-entry-value>
		<!--<env-entry-value>/home/lipido/Downloads/whichgenesfiles/go/gene_ontology.1_0.obo</env-entry-value> -->
	</env-entry>
	<env-entry>
		<env-entry-name>whichgenes.usermanagerdirectory</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>/var/lib/tomcat7/webapps/whichgenesfiles/users</env-entry-value>
		<!-- <env-entry-value>/home/lipido/Downloads/whichgenesfiles/users</env-entry-value>-->
	</env-entry>
	<env-entry>
		<env-entry-name>whichgenes.host</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>www.whichgenes.org</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>whichgenes.watchdog</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>true</env-entry-value>
	</env-entry>
	<env-entry>
		<env-entry-name>whichgenes.watchdog.timeout</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>480000</env-entry-value>
	</env-entry>
	
	
	<listener>
		<description>
		Used to cleanup when a session is destroyed</description>
		<display-name>ZK Session cleaner</display-name>
		<listener-class>org.zkoss.zk.ui.http.HttpSessionListener</listener-class>
	</listener>
	<servlet>
		<description>
		The ZK loader for ZUML pages</description>
		<servlet-name>zkLoader</servlet-name>
		<servlet-class>org.zkoss.zk.ui.http.DHtmlLayoutServlet</servlet-class>
		<init-param>
			<param-name>update-uri</param-name>
			<param-value>/zkau</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<description>
		The asynchronous update engine for ZK</description>
		<servlet-name>auEngine</servlet-name>
		<servlet-class>org.zkoss.zk.au.http.DHtmlUpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>zkLoader</servlet-name>
		<url-pattern>*.zul</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>zkLoader</servlet-name>
		<url-pattern>*.zhtml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>auEngine</servlet-name>
		<url-pattern>/zkau/*</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>index.zul</welcome-file>
		<welcome-file>whichgenes.zul</welcome-file>
	</welcome-file-list>





	<listener>
		<description>Listener for cleanup when a session is destroyed</description>
		<listener-class>org.zkoss.zk.ui.http.HttpSessionListener</listener-class>
	</listener>
	<listener>
		<description>Listener for cleanup static elements</description>
		<listener-class>es.uvigo.ei.sing.whichgenes.tomcat.ContextListener</listener-class>
	</listener>

	<servlet>
		<description>Exporter</description>
		<servlet-name>exporter</servlet-name>
		<servlet-class>es.uvigo.ei.sing.whichgenes.tomcat.ExporterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>exporter</servlet-name>
		<url-pattern>/export</url-pattern>
	</servlet-mapping>


	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>WEB-INF/beans.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- REST server GZIPPED -->
	<filter>
		<filter-name>Compress</filter-name>
		<filter-class>com.netspade.servlet.compress.CompressionFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>Compress</filter-name>
		<servlet-name>CXFServlet</servlet-name>
	</filter-mapping>


	<servlet>
		<servlet-name>CXFServlet</servlet-name>

		<servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>CXFServlet</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>

</web-app>
